In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df = pd.read_csv("H:\Student_Performance\data\StudentsPerformance.csv")

In [48]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [49]:
df['Average Score'] = df[['math score']+['reading score']+['writing score']].mean(axis=1)

In [50]:
df.drop(columns={'gender','race/ethnicity','parental level of education','lunch','test preparation course'},axis=1,inplace=True)

In [51]:
df.head()

   math score  reading score  writing score  Average Score
0          72             72             74      72.666667
1          69             90             88      82.333333
2          90             95             93      92.666667
3          47             57             44      49.333333
4          76             78             75      76.333333

In [52]:
df['Result'] = ''

In [53]:
df.head()

   math score  reading score  writing score  Average Score Result
0          72             72             74      72.666667
1          69             90             88      82.333333
2          90             95             93      92.666667
3          47             57             44      49.333333
4          76             78             75      76.333333

In [54]:
df.isna().sum()

math score       0
reading score    0
writing score    0
Average Score    0
Result           0
dtype: int64

In [55]:
for i in range(len(df)):
    if df.loc[i,'Average Score'] >= 50:
        df.loc[i,'Result'] = "Pass"
    else:
        df.loc[i,'Result'] = "Fail"

In [56]:
df.head()

   math score  reading score  writing score  Average Score Result
0          72             72             74      72.666667   Pass
1          69             90             88      82.333333   Pass
2          90             95             93      92.666667   Pass
3          47             57             44      49.333333   Fail
4          76             78             75      76.333333   Pass

In [57]:
df.drop(columns={'Average Score'},axis=1,inplace=True)

In [58]:
df.head()

   math score  reading score  writing score Result
0          72             72             74   Pass
1          69             90             88   Pass
2          90             95             93   Pass
3          47             57             44   Fail
4          76             78             75   Pass

##### Ready to train model

In [59]:
df.head()

   math score  reading score  writing score Result
0          72             72             74   Pass
1          69             90             88   Pass
2          90             95             93   Pass
3          47             57             44   Fail
4          76             78             75   Pass

In [60]:
x = df.iloc[:,:3]
y = df.iloc[:,3:]

In [61]:
x

     math score  reading score  writing score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
..          ...            ...            ...
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]

In [62]:
y

    Result
0     Pass
1     Pass
2     Pass
3     Fail
4     Pass
..     ...
995   Pass
996   Pass
997   Pass
998   Pass
999   Pass

[1000 rows x 1 columns]

In [63]:
# Train the model

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [64]:
#Use the classification model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [65]:
model.fit(x_train,y_train)

c:\Users\Dell\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [66]:
y_pred = model.predict(x_test)

In [67]:
from sklearn.metrics import accuracy_score

accuracy_score(y_pred,y_test)

1.0